[project]
	description = ARCHIVED- 2021-09-27 at the request of the project\nThis is a demo project.
	state = read only
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/o-ran-sc-gerrit-ric-plt-resource-status-processor-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
